<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{loadingService.message}}</p>
</ngx-spinner>

<header *ngIf="org!=null">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand">
            <i class="fab fa-github"></i>
            <span>&nbsp;{{configService.config.title}}</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" tooltip="Change Current Organization" placement="bottom">
                    <a class="nav-link pointer" (click)="changeOrg()">
                        <i class="fas fa-exchange-alt"></i><span class="d-sm-none d-md-none d-lg-none">&nbsp;Change Organization</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/marcsalvador/app-github" tooltip="Visit GitHub Repositiry" placement="bottom">
                        <i class="fab fa-github"></i><span class="d-sm-none d-md-none d-lg-none">&nbsp;Visit GitHub Repository</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/marcsalvador/app-github/archive/master.zip" tooltip="Download Code" placement="bottom">
                        <i class="fas fa-download"></i><span class="d-sm-none d-md-none d-lg-none">&nbsp;Download Code</span>
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">
                        <i class="fas fa-code-branch"></i>&nbsp;{{environment.package.version}}
                    </span>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section class="container-fluid">
    <br>
    <router-outlet></router-outlet>
</section>

<footer *ngIf="org!=null" class="container-fluid">
    <div class="row">
        <div class="col">
            <small>
                {{configService.config.copyright}}
            </small>
        </div>
    </div>
</footer>