<div class="card border-0 shadow-sm mb-5 bg-white rounded">
    <div class="card-header">
        <h5 class="card-title">
            {{name}}
        </h5>
    </div>
    <div class="card-body" *ngIf="members!=null && members.length>0">
        <div class="row row-cols-1 row-cols-md-5">
            <div class="col mb-4" *ngFor="let item of members">
                <div *ngIf="item.owner!=null">
                    <img [src]="item.owner.avatar_url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.owner.login}}</h5>
                    </div>
                </div>
                <div *ngIf="item.owner==null">
                    <img [src]="item.avatar_url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.login}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-primary" [disabled]="!enableMembersPreviousButton"
            (click)="issuesPrevious()">Previous</button>&nbsp;
        <button type="button" class="btn btn-primary" [disabled]="!enableMembersNextButton"
            (click)="issuesNext()">Next</button>
    </div>
</div>