<div class="card border-0 shadow-sm mb-5 bg-white rounded">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4 class="card-title">
                    {{name}}
                </h4>
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn btn-light btn-sm" [disabled]="!enableMembersPreviousButton" (click)="issuesPrevious()">
                    <i class="fas fa-chevron-left"></i>
                </button>&nbsp;
                <button type="button" class="btn btn-light btn-sm" [disabled]="!enableMembersNextButton" (click)="issuesNext()">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-5" *ngIf="members!=null && members.length>0">
            <div class="col mb-4" *ngFor="let item of members">
                <div *ngIf="item.owner!=null">
                    <img [src]="item.owner.avatar_url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.owner.login}}</h5>
                    </div>
                </div>
                <div *ngIf="item.owner==null">
                    <img [src]="item.avatar_url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.login}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>